table{
    border-collapse: collapse;
    table-layout: fixed;
    width: 750px;
    height: 500px;
}
td{
    border: 2px solid black;
}
caption{
    font-family: Arial, Helvetica, sans-serif;
    caption-side: bottom;
    font-size: 35px;
}
#blå{
    background-color: blue;
}
#röd{
    background-color: red;
}
#gul{
    background-color: yellow;
}
#svart{
    background-color: black;
}
#grön{
    background-color: lime;
}